<section class="container editar-pensamentos ff-inter">
  <header class="header">
    <h2>Adicione um <br>pensamento novo:</h2>
  </header>
  <form [formGroup]="form">
    <label for="pensamento">Pensamento</label>
    <input type="textarea" class="input" id="pensamento" formControlName="content" placeholder="Digite o pensamento">
    <div class="error__msg" *ngIf="form.get('content')?.errors && form.get('content')?.touched">
      <p>Pensamento é obrigatório!</p>
    </div>
    <label for="autoria">Autoria</label>
    <input type="textarea" class="input" id="autoria" formControlName="authorship" placeholder="Digite a autoria ou fonte">
    <div class="error__msg" *ngIf="form.get('authorship')?.errors?.['required'] && form.get('authorship')?.touched">
      Autoria é obrigatória!
    </div>
    <div class="error__msg" *ngIf="form.get('authorship')?.errors?.['minlength'] && form.get('authorship')?.touched">
      Autoria precisa ter no mínimo 3 caracteres!
    </div>
    <label for="modelo">Selecione o modelo do card:</label>
    <div class="container-radio">
      <div class="radio-modelo">
        <label for="modelo1">
          <input type="radio" id="modelo1" value="modelo1" formControlName="model">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>
        Prévia:
        <div class="modelo modelo1 ff-roboto-mono" >
          <img src="../../../../assets/images/modelo1.png" alt="Aspas azuis">
          <p class="conteudo">{{ form.get('content')?.value }}</p>
          <p class="autoria"><b>{{ form.get('authorship')?.value }}</b></p>
        </div>
      </div>
      <div class="radio-modelo">
        <label for="modelo2">
          <input type="radio" id="modelo2" value="modelo2" formGroupName="model">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>
        Prévia:
        <div class="modelo modelo2 ff-roboto-mono" >
          <img src="../../../../assets/images/modelo2.png" alt="Aspas azuis claras">
          <p class="conteudo">{{ form.get('content')?.value }}</p>
          <p class="autoria"><b>{{ form.get('authorship')?.value }}</b></p>
        </div>
      </div>
      <div class="radio-modelo">
        <label for="modelo3">
          <input type="radio" id="modelo3" value="modelo3" formControlName="model">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>
        Prévia:
        <div class="modelo modelo3 ff-roboto-mono" >
          <img src="../../../../assets/images/modelo3.png" alt="Aspas verdes">
          <p class="conteudo">{{ form.get('content')?.value }}</p>
          <p class="autoria"><b>{{ form.get('authorship')?.value }}</b></p>
        </div>
      </div>
    </div>
    <div class="acoes">
      <button [disabled]="!form.valid" (click)="editThought()" [ngClass]="activateButton()" class="botao">Salvar</button>
      <button (click)="cancelThought()" class="botao">Cancelar</button>
    </div>
  </form>
</section>
